<?xml version="1.0" encoding="utf-8"?>
<Axiscadesettings version="1.0.x.x">
  <QC3 name ="QC3 Checker">
    <!--Specific settings w.r.t all checks will be added here-->
    <SleeveNaming type="text" value="SLEEVE/PROTECTOR" name="C3PNG_ItemName" description="Identifier for Sleeves"/>
    <LabelNaming type="text" value="LABEL" name="" description="Identifier for Label"/>
	<AllChecks_Configuration name ="All Check points">
      <RQ01 check_name="chk_1" Description="Sheet Size in Title Block and Actual Sheet Size in CATIA" display ="chk_1" type="numeric" />
      <RQ02 check_name="chk_2" Description="Sheet Size in Title Block and in PDMLink" display ="chk_2" type="bool" />
      <RQ03 check_name="chk_3" Description="Drawing English Title in Title Block and Drawing Name in PDMLink" display ="chk_3" type="numeric"  />
      <RQ04 check_name="chk_4" Description="Drawing Domestic Title in Title Block Should be Empty" display ="chk_4" type="numeric" />
      <RQ05 check_name="chk_5" Description="Drawing Issue in Title Block and PDMLink" display ="chl_5" type="numeric" />
      <RQ06 check_name="chk_6" Description="Drawing Second Issue in Title Block Should be Empty" display ="chk_6" type="bool" value="&lt;=0.8" name="mm" displayPassValue="&lt;= 0.8 mm" />
      <RQ07 check_name="chk_7" Description="Drawing Number in Title Block and File Name" display ="chk_7" type="numeric" />
      <RQ08 check_name="chk_8" Description="Drawing Sheet Number in Title Block and File Name" display ="chk_8" type="numeric" />
      <RQ09 check_name="chk_9" Description="Airbus Germany Title Block Used" display ="chk_9" type="numeric" />
	  <RQ10 check_name="chk_10" Description="Copyright Year in Title Block" display ="chk_10" type="numeric" />
	  <RQ11 check_name="chk_11" Description="Signatures in Title Block" display ="chk_11" type="numeric" />
	  <RQ12 check_name="chk_12" Description="Interchangeable  Part in Title Block" display ="chk_12" type="numeric" />
	  <RQ13 check_name="chk_13" Description="Limits Not Stated in Title Block" display ="chk_13" type="numeric" />
	  <RQ14 check_name="chk_14" Description="Drawing Geographic Reference in Title Block must be Empty" display ="chk_14" type="numeric" />
      <RQ15 check_name="chk_15" Description="Surface Finish (ABD0002) in Title Block" display ="chk_15" type="bool" />
      <RQ16 check_name="chk_16" Description="Standard Scale in Title Block" display ="chk_16" type="numeric"  />
      <RQ17 check_name="chk_17" Description="Main View Scale and Title Block Scale Check" display ="chk_17" type="numeric" />
      <RQ18 check_name="chk_18" Description="Drawing Cancellation Index Status in PDMLink" display ="chk_18" type="numeric" />
      <RQ19 check_name="chk_19" Description="Drawing Frame Grid as per New Airbus Standard" display ="chk_19" type="bool" value="&lt;=0.8" name="mm" displayPassValue="&lt;= 0.8 mm" />
      <RQ20 check_name="chk_20" Description="All Drawing Views are Locked" display ="chk_20" type="numeric" />
      <RQ21 check_name="chk_21" Description="All Drawing Views are in Show Mode" display ="chk_21" type="numeric" />
	  <RQ22 check_name="chk_22" Description="All Lines are of Correct Line Type" display ="chk_22" type="bool" value="&lt;=0.8" name="mm" displayPassValue="&lt;= 0.8 mm" />
      <RQ23 check_name="chk_23" Description="All Lines are of Correct Line Thickness" display ="chk_23" type="numeric" />
	  <RQ24 check_name="chk_24" Description="All Font Sizes are of Size 5.0 and 7.0" display ="chk_24" type="numeric" />
	  <RQ25 check_name="chk_25" Description="Fake Dimensions in Drawing" display ="chl_25" type="numeric" />
	  <RQ26 check_name="chk_26" Description="Dimension Texts Hidden to Fake Dimensions in Drawing" display ="chk_26" type="numeric" />
	  <RQ27 check_name="chk_27" Description="Dimension Precision of All Dimension is Equal to 0.1" display ="chk_27" type="numeric" />
	  <RQ28 check_name="chk_28" Description="Dimension Precision is Equal to 1.0" display ="chk_28" type="numeric" />
      <RQ29 check_name="chk_29" Description="Sheet.1 (Root of All Views) Must Not Contain any Elements or Texts" display ="chk_29" type="bool" />
      <RQ30 check_name="chk_30" Description="Flag Notes in PDM Link present in Drawing Sheet" display ="chk_30" type="numeric"  />
	  <RQ31 check_name="chk_31" Description="Flag Notes in Drawing Sheet present in PDM Link" display ="chk_31" type="numeric" />
      <RQ32 check_name="chk_32" Description="Remarks in PDM Link starting with FN / GN" display ="chk_32" type="numeric" />
      <RQ33 check_name="chk_33" Description="Part/Assembly Item Number Zone in Drawing and PDMLink" display ="Chk_33" type="bool" value="&lt;=0.8" name="mm" displayPassValue="&lt;= 0.8 mm" />
      <RQ34 check_name="chk_34" Description="Identification Marking in Drawing and PDMLink" display ="chk_34" type="numeric" />
      <RQ35 check_name="chk_35" Description="Identification Marking in PDM Link." display ="chk_35" type="numeric" />
      <RQ36 check_name="chk_36" Description="Assembly BOM in PDMLink is Completely Filled" display ="Chk_36" type="numeric" />
	  <RQ37 check_name="chk_37" Description="Assembly BOM Item Numbers and Zones in PDMLink and Drawing(STD parts are Ignored, Check STD Item Numbers Manually)." display ="Chk_37" type="numeric" />
	  <RQ38 check_name="chk_38" Description="Assembly BOM Item Quantity in PDMLink and Drawing Sheet(STD parts are Ignored, Check STD Item Numbers Manually)." display ="chk_38" type="numeric" />
	  <RQ39 check_name="chk_39" Description="Extra Item Numbers are Present in Drawing than PDM Link." display ="chk_39" type="numeric" />
	  <RQ40 check_name="chk_40" Description="Flag Notes in PDM Link are Present in Drawing Sheets" display ="chk_40" type="numeric" />
	  <RQ41 check_name="chk_41" Description="Flag Notes in Drawing Sheets are Present in PDM Link." display ="chk_41" type="numeric" />
	  <RQ42 check_name="chk_42" Description="Remarks in PDM Link starting with FN / GN." display ="chk_42" type="numeric" />
	  <RQ43 check_name="chk_43" Description="IP Table in 1st Sheet and PDM Link BOM Check. " display ="chk_43" type="numeric" />    
    </AllChecks_Configuration>
  </QC3>

  <QC3Documents name="Reference documents" >
	  <section1314 name ="1314 Section">
		  <Item_Number>\\141209_Itemnumber_Symbol_Definition_Standard_Part_PEK-K-DDL-12-103703-A.27 - Copy.xlsx\</Item_Number >
		  <DatabaseSheet>\\blrnetapp02\PLM\BLRPLMSER\001_Projects\030_CooperStandard\001_KBE-GEC\05_GEC_Projects\GEC_001_001_PMC\02_Documents\metal tube table 5-16-18.xlsx</DatabaseSheet>
	  </section1314>
	  <section1618 name ="1618 Section">
		  <ToleranceLimit>0.5\</ToleranceLimit>
		  <KickoffSheet>Y:\</KickoffSheet>
		  <DatabaseSheet>\\blrnetapp02\PLM\BLRPLMSER\001_Projects\030_CooperStandard\001_KBE-GEC\05_GEC_Projects\GEC_001_001_PMC\02_Documents\metal tube table 5-16-18.xlsx</DatabaseSheet>
	  </section1618>
   
  </QC3Documents>
</Axiscadesettings>